<div ng-controller="index">
  <h1 class='page-header'>Leaderboard</h1>
    <section>
      <table class="table">
        <thead>
          <tr class="names">
            <td>Rank</td>
            <td>Name</td>
            <td>Score</td>
            <td>Games Played</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="game in games">
            <td>{{game.rank}}</td>
            <td>{{game.name}}</td>
            <td>{{game.score}}</td>
            <td>{{game.games}}</td>
          </tr>
        </tbody>
      </table>
    </section>
</div>
