<div ng-controller="log">
  <h1 class='page-header'>Log Game</h1>
  
  <div class="alert alert-danger" role="alert" ng-show="error">
    Check for all your inputs
  </div>

  <div class="row">
    <span>Date Played:</span>
    <input type="date" ng-model="date_played"/>
  </div>
  
  <div class="row">
    <span>Opponent:</span>
    <select ng-model="selected_user"
            ng-options="user.email for user in users">
      <option value="" selected disabled="disabled">
          Select your opponent
       </option>
    </select>
  </div>
  
  <div class="row">
    <span>Your Score:</span>
    <input ng-model="your_score" maxlength="2"/>
  </div>
  
  <div class="row">
    <span>Their Score:</span>
    <input ng-model="their_score" maxlength="2"/>
  </div>
    
  <input type="button" value="Save" ng-click="logGame()"/>
</div>
